<section class="mbr-section content4 cid-rltTcSSdw3" id="content4-n">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                Գրքերի ցանկ</h2>

            </div>
        </div>
    </div>
</section>

<section class="services2 cid-rltR6H2xmp" id="services2-i">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="assets/images/history-museum-of-armenia-650x366.jpg" alt="Mobirise" title="">
                </div>
                <div class="align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5">HISTORY MUSEUM OF ARMENIA</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolores doloribus eligendi eum illo
                        </p>

                    </div>
                    <!--Btn-->
                    <div class="mbr-section-btn pt-3 align-left"><a href="https://mobirise.co" class="btn btn-warning-outline display-4">View Reviews</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services2 cid-rltTlgYeU8" id="services2-o">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="assets/images/history-museum-of-armenia-650x366.jpg" alt="Mobirise" title="">
                </div>
                <div class="align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5">HISTORY MUSEUM OF ARMENIA</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolores doloribus eligendi eum illo
                        </p>

                    </div>
                    <!--Btn-->
                    <div class="mbr-section-btn pt-3 align-left"><a href="https://mobirise.co" class="btn btn-warning-outline display-4">View Reviews</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services2 cid-rltTmTjKNm" id="services2-q">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="assets/images/history-museum-of-armenia-650x366.jpg" alt="Mobirise" title="">
                </div>
                <div class="align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5">HISTORY MUSEUM OF ARMENIA</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolores doloribus eligendi eum illo
                        </p>

                    </div>
                    <!--Btn-->
                    <div class="mbr-section-btn pt-3 align-left"><a href="https://mobirise.co" class="btn btn-warning-outline display-4">View Reviews</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services2 cid-rltTm1kcBz" id="services2-p">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="assets/images/history-museum-of-armenia-650x366.jpg" alt="Mobirise" title="">
                </div>
                <div class="align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5">HISTORY MUSEUM OF ARMENIA</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolores doloribus eligendi eum illo
                        </p>

                    </div>
                    <!--Btn-->
                    <div class="mbr-section-btn pt-3 align-left"><a href="https://mobirise.co" class="btn btn-warning-outline display-4">View Reviews</a></div>
                </div>
            </div>
        </div>
    </div>
</section>