<div class="jumbotron" style="position:absolute;margin-top:175px;text-align: center;width: 400px;margin-left: calc( 50vw - 200px )">
    <p class="lead">Check your inbox! We have sent you an email so you can activate you account.</p>
</div>