<section class="mbr-section content4 cid-rltTcSSdw3" id="content4-n">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                Museum List</h2>

            </div>
        </div>
    </div>
</section>

<section class="services2 cid-rltR6H2xmp" id="services2-i">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
      <% for(let i = 0; i < museums.length; ++i){%>
        <div class="col-md-12" style="padding-bottom:50px;">
            <div class="media-container-row">
                <div class="align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5" style="text-align:center;"><%= museums[i].title%></h2>
                    <!--Btn-->
                    <div class="mbr-section-btn pt-3 align-center"><a href="https://mobirise.co" class="btn btn-warning-outline display-4">View Reviews</a></div>
                </div>
            </div>
        </div>
      <% } %>
    </div>
</section>
