  
  <!-- --------------------------------------------------------------------------------------------------  -->
  <section class="mbr-section content4 cid-rlKz4zwqC4" id="content4-x">

        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 col-md-8">
                    <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    <%=museum.title%></h2>

                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section content6 cid-rlKyT88CfI" id="content6-v">

        <div class="container">
            <div class="media-container-row">
                <div class="col-12 col-md-8">
                    <div class="media-container-row">
                        <div class="media-content">
                            <div class="mbr-section-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section content8 cid-rlKyVfwNuh" id="content8-w">

        <div class="container">
            <div class="media-container-row title">
                <div class="col-12 col-md-8">
                    <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="/addreview/<%=museum._id%>">Add Review<br></a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="services5 cid-rlKzRXZv6x" id="services5-z">
        <!---->

        <!---->
        <!--Overlay-->

        <!--Container-->
        <div class="container">
            <div class="row">
                <!--Titles-->
                <div class="title pb-5 col-12">
                    <h2 class="align-left mbr-fonts-style m-0 display-1">
                    Review List
                </h2>

                </div>
                <!--Card-1-->
                <div class="card px-3 col-12">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-3">
                                <h4 class="card-title mbr-fonts-style display-5">
                                Review 1
                            </h4>
                                <p class="mbr-text cost mbr-fonts-style m-0 display-5">3 Stars</p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card-2-->
                <div class="card px-3 col-12">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-3">
                                <h4 class="card-title mbr-fonts-style display-5">
                                Review 2
                            </h4>
                                <p class="mbr-text cost mbr-fonts-style m-0 display-5">4 Stars</p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card-3-->
                <div class="card px-3 col-12">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-3">
                                <h4 class="card-title mbr-fonts-style display-5">
                                Review 3
                            </h4>
                                <p class="mbr-text cost mbr-fonts-style m-0 display-5">5 Stars</p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card-4-->
                <div class="card px-3 col-12">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-3">
                                <h4 class="card-title mbr-fonts-style display-5">
                                Review 4
                            </h4>
                                <p class="mbr-text cost mbr-fonts-style m-0 display-5">1 Stars</p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card-5-->
                <div class="card px-3 col-12">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-3">
                                <h4 class="card-title mbr-fonts-style display-5">
                                Review 5
                            </h4>
                                <p class="mbr-text cost mbr-fonts-style m-0 display-5">5 Stars</p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card-6-->
                <div class="card px-3 col-12">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-3">
                                <h4 class="card-title mbr-fonts-style display-5">
                                Review 6
                            </h4>
                                <p class="mbr-text cost mbr-fonts-style m-0 display-5">4 Stars</p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card-7-->

                <!--Card-8-->

                <!--Card-9-->

                <!--Card-10-->

                <!--Card-11-->

                <!--Card-12-->

            </div>
        </div>
    </section>
